<div class="container-fluid">
    {{#each cosplay}}
    <article>
        <div class="imageDiv">
            <a href='{{this.link}} target="blank"'>
                <img src="{{this.img}}">
            </a>
        </div>
        <div class="articleText">
            <a href='{{this.link}} target="blank"'>
                <h1>{{this.title}}</h1>
                <p>{{this.snippet}}</p>
            </a>

        </div>
    </article>
    {{/each}}
</div>